body,
html {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}

canvas {
  position: absolute;
  color: rgb(243, 81, 113);
  margin: 0;
}

.wrapper {
  background-color: rgba(241, 241, 241, 0.02);
  color: #f1f1f1;
  position: absolute;
  padding: 20px;
  top: 0px;
  left: 0px;
  border-radius: 0 0 10px;
  transition: 0.3s;
}

.wrapper:hover {
  background-color: #f1f1f1;
  color: #242424;
  transition: 0.3s;
}

.stats {
  margin-bottom: 15px;
}

.stats p {
  margin: 0;
}

.stats .infected {
  color: #ff0f23;
}

.stats .dead {
  color: #959595;
}

.stats .alive,
.recovered {
  color: #2fb425;
}

.stats > p {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}

.stats > p span:nth-child(2) {
  margin: 0;
  font-size: 20px;
}

button {
  border: none;
  background-color: #ff6673;
  padding: 5px 10px;
  color: white;
  width: fit-content;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e02534;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.checkboxes > *:not(:first-child) {
  margin-top: 20px;
}

small {
  position: absolute;
  left: 15px;
  bottom: 15px;
  color: gray;
}
